/* Main elements styles*/
body{
    color: #000;
    /*background: #000000; /* fallback for old browsers */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
     rgba(246,246,246,1) 47%,
      rgba(237,237,237,1) 100%);*/
	-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    font-family: 'Montserrat', sans-serif;
    
}


i {
    width: 100%
}

.logo {
    height: 85px;
}

/*font styling*/
h1 {
    color: rgba(190, 184, 184, 0.63);
    font-weight: 500;
}

h3 {
    color: rgba(190, 184, 184, 0.63);
    font-weight: 500;
}

h2{
    color: rgba(190, 184, 184, 0.63);
    font-weight: 500;
}
h4{
    color: rgba(190, 184, 184, 0.63);
    font-weight: 500;
}


/* Header styling*/
#header {
   /* Background: url('../images/main.jpg');*/
  
  
	height: 90vh;
    }
/*header styling*/
#name{
    margin: 30% 0 0 0;
    
    height: 300px;
   
}

#name h1 {
    font-size: 1.5em;
    
    color: #000;
    
    width: 90%;
}

#name h3{
    color: #7C3D32;
}

.container {
    padding: 15px;
}



/*animated text*/
.line-1{
position: relative;
top: 10%;  
width: 24em;
margin: 0 auto;
border-right: 2px solid rgba(255,255,255,.75);
font-size: 180%;
text-align: center;
white-space: nowrap;
overflow: hidden;
transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
         blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 9em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(74, 128, 3, 0.75);}
to{border-right-color: transparent;}
}

.progress{
    margin: 20px;
    background-color: #2767fb;
}

footer {
    clear: both;
    text-align: center;
}

.coding-icon{
    background-color: #000;
}

#projects {
   
    height: 400px;
    text-align: center;

    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/web.gif");
    
}

#projects h1 {
    font-size: 150px;
    font-family: 'Righteous', cursive;
}

#red-title {
    background-color: red;
   text-align: center;
  
   height: 80vh;
   margin: auto;
}

#red-title h1{
    color: #fff;
    line-height: 80vh;
}

#blue-title {
    background-color: rgb(0, 110, 255);
   text-align: center;
  
   height: 80vh;
   margin: auto;
  
}

#blue-title h1{
    color: #fff;
    line-height: 80vh;
}

ul{
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.ani-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.ani-link:hover {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.ani-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.ani-link:hover::after {
    width: 100%;
    transition: width .3s;
}
