/* Main elements styles*/
body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/main.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    padding-top: 2%;
    background-attachment: fixed;
}


#logo {
    height: 15em;
}

ul{
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid rgb(0, 174, 255);
    margin: 1em 0;
    padding: 0; 
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }


.fa-linkedin-in {
    background: transparent;
    color: #007bb5;
  
  }

  .fa-github {
    background: transparent;
    color: #fff;
 
  }

  #contact {
      height: 60%;
  }

  .card-body {
      color: #000;
  }

  .card-img-top {
      height: 250px;
     
  }

