/* Main elements styles*/
body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/main.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    padding-top: 2%;
    background-attachment: fixed;
}

.container {

    margin-bottom: 20%;
}

#logo {
    height: 15em;
}

ul{
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(109, 218, 211);
    margin: 1em 0;
    padding: 0; 
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }



.fa-linkedin-in {
    background: transparent;
    color: #007bb5;
  
  }

  .fa-github {
    background: transparent;
    color: #fff;
 
  }

  #contact {
      height: 30%;
  }

  .card-body {
      color: #000;
  }

  .card-img-top {
      height: 250px;
     
  }

  .bg-custom {
      background-image: url('../images/nav.jpg');
      background-color: #000;
  }

 /****   contact page  *****/ 
  @import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}

#about {
  background-color: rgba(8, 8, 8, 0.4);
  padding: 2%;
  font-size: 1.1em;
}

.btn-primary{
  background-color: #6ddad3;
  color: #000;
}